*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* hero  section start  */
.hero_section{
    height: 100vh;
    width: 100%;
    display: flex;
    position: relative;
}

.hero_section .hero_img{
    height: 100%;
    width: 80%;
    display: flex;
}
.hero_img img{
    object-fit: cover;
    height: auto;
    width: 100%;
}
.hero_section .hero_emptydiv{
    width: 20%;
    height: auto;
    background: #aa7c73;
}
nav{
    height: 10vh;
    display: flex;
    width: 100%;
    position: absolute;
}
 
nav .logo{
    width: 35%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .logo img{
    height: auto;
    width: auto;
    object-fit: cover;
}

nav .nav_links{

        width: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
}

nav .nav_links ul{
    display: flex;
    list-style: none;
}

nav .nav_links ul li{
    padding: 0 1vw;
}

nav .nav_links ul li a{
    text-decoration: none;
    list-style: none;
    color: #fff;
}

nav .nav_icons{
    width: 35%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 14vw;
}
nav .nav_icons h1{
    color: #fff;
}

.hero_section .hero_headings{
    position: absolute;
    top: 29vh;
    left: 15vw;
    z-index: 1;
    display: flex;
    flex-direction: column; 
}
.hero_section .hero_headings h1{
    font-size: 8vw;
    line-height: 0.8;
    color: #f3f1ee;
}
.hero_section .hero_headings p{
    font-size: 2.8vw;
    padding-left: 31vw;
    color: #9e5e47;
    line-height: 1;
}
.hero_section .hero_inner_img{
    position: absolute;
    bottom: 10vh;
    right: 13vw;
    transition: 0.3 ease-in-out;
}
.hero_section .hero_inner_img img:hover{
    transform: scale(1.05);
}

/* hero  section end */

/* product_section start  */
.product_section{
    height: 120vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #ecddcd;
}
.product_sect_title{
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product_sect_title h1{
font-size: 3vw;
}
.product_sec_main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 95vh;
    width: 100%;
    padding: 0 6vw;
}

.product_sec_main_prdt{
    height: 100%;
    width: 25vw;
}

.product_sec_main_prdt img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    object-position: right;
    transition: .3s ease-in-out;
    cursor: pointer;
}
 
.product_sec_main .prdct1{
height: 70%;
}

.product_sec_main .prdct1 img:hover{
background-image: url(https://plus.unsplash.com/premium_photo-1723563578908-c50f42991152?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8aGFuZG1hZGUlMjBjYW5kbGVzfGVufDB8fDB8fHww);
}
.product_sec_main .prdct2{
    height: 90%;
}

.product_sec_main .prdct3{
    height: 70%;
}
/* product_section end */

/* about us section start  */
.aboutus_section{
    height: 100vh;
    width: 100%;
    background: burlywood;
    display: flex;
    display: none;
}
.aboutus_section .img{
    height: auto;
    width: 50%;
    border: 3px solid black;
}

.aboutus_section .info{
    height: auto;
    width: 50%;
    border: 3px solid black;
}
/* about us section end */

/* about-content start  */
.about_content{
    height: 50vh;
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.about_content img {
    object-fit: cover;
    width: 100%;
    height: 100%;  
}

.about_content p{
    position: absolute;
    font-size: 2vw;
    text-align: center;
    padding-right: 51vw;
    padding-left: 4vw;
    top: 13vh;
    color: #863c09;
}
.about_content a{
    position: absolute;
    bottom: 8vh;
    left: 22vw;
    text-decoration: none;
    font-size: 2vw;
    color: #72401f;
    cursor: pointer;
}

/* about-content end */

/* collection_section start  */
.collection_section{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #aa7c73;
    padding: 0 4vw;
}

.collection{
    height: 70vh;
    width: 22%; 
}
.collection img{
width: 100%;
height: 100%;
object-fit: cover;
transition: .3s ease-in-out;
}
.collection img:hover{
    transform: scale(1.05);
}
.collection h1{
    padding-top: 2vh;
    color: rgba(255, 255, 255, 0.5);
}

.SMN_effect-7 a {
	color: rgba(255, 255, 255, 0.5);
}

.collection h1:before {
	color: #fff;
	content: attr(data-hover);
	position: absolute;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}

.collection h1:hover:before, .collection h1:focus:before {
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	transform: scale(0.9);
	opacity: 0;
}
/* collection_section end */


/* marquee start  */
.c-a-bar{
    position: absolute;
    width: 100%;
    height: 5vw;
    overflow: hidden;
    width: 100%;

}

.a-bar{
      width: max-content;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 5.47vw;
    position: absolute;
    overflow: hidden;
    animation: marquee1 40s linear infinite;
 background: #9b5445;
}

@keyframes marquee1 {
  
  0% {
    left: 0;
}
  100% {
    left: -100%;
    /* here use -1000%  for long lines */
}
}

.a-bar p{
      color: #fff;
    font-size: 1.7vw;
    float: left;
}
/* marquee end */



/* testimonials start */
.testimonials{
    height: 100vh;
    width: 100%;
    display: flex;
}

.testimonials_content{
    width: 65%;
    height: 100%;
    background-color: #ecddcd;
}

.details{
    width: 100%;
    height: 50%;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 18vh;
}

.details .details_p1{
    color: rgba(170, 124, 115, .1);
    font-family: cursive;
    font-size: 9vh;
    font-weight: 400;
    line-height: 1.2em;
    position: absolute;
    top: 16%;
    bottom: auto;
    left: 6%;
    right: auto;
}

.details .details_p2{
    color: #9b5445;
    margin-top: 0;
    margin-bottom: 10px;
    font-family:fangsong;
    font-size: 50px;
    font-weight: 400;
    line-height: 1.2em;
}
.carousel_main{
    width: 100%;
    height: 50%;
    display: flex
;
    align-items: center;
}

.carousel {
    width: 100%;
    height: 78%;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
}
.carousel-track {
    display: flex;
    gap: 10px;
    animation: scroll 10s linear infinite;
    height: 36vh;
}
.carousel img {
    width: 300px;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}
.testimonials_product{
    display: flex;
    width: 35%;
    height: 100%;
    background: #9b5445;
    align-items: center;
    justify-content: center;
}

.product_img{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.product_img img{
    width: 100%;
}

.product_img h3{
    padding-top: 1vh;
}

.product_img h3 a{
    text-decoration: none;
    font-size: 4.5vh;
    color: #ecddcd;
    font-family: serif;
    text-transform: capitalize;
}
/* testimonials end */




/* instagram-section start  */
.instagram-section{
    height: 100vh;
    width: 100%;
    display: flex;
    background: #ecddcd;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
}

.instagram-section h1{
    font-size: 5vh;
}

.instagram-section h1 svg{
    height: 3vh;
}
.insta_img1 {
    position: absolute;
    left: 16vw;
    top: 8vh;
}

.insta_img2{
    position: absolute;
    right: 15vw;
    bottom: 5vh;
}

.insta_img3{
    position: absolute;
    height: 40vh;
    width: 17vw;
    bottom: 10vh;
    left: 10vw;
    object-fit: cover;
}

.insta_img4{
    position: absolute;
    right: 28vw;
    top: 7vh;
    height: 30vh;
}

.insta_img5{
    position: absolute;
    bottom: 9vh;
    left: 38vw;
    height: 32vh;
}

.insta_img {  
    animation-name: insta_img;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 0px;
    margin-top: 0px;
}
  
@keyframes insta_img {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 25px); }
    100%   { transform: translate(0, -0px); }    
}
/* instagram-section end */


/* footer start */
footer{
    height: 50vh;
    width: 100%;
    display: flex;
    position: relative;
    background-color: #9b5445;
}

/* footer div{
    width: 100%;
    height: 100%;
    position: relative;
    background: yellowgreen;
} */

.main_container{
    height: 50vh;
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
}

.footer_logo{
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer_logo svg{
    height: 15vh;
    width: 15vw;
}
.footer_logo h1{
    font-size: 2.6vh;
color: #ecddcd;
padding-top: 5vh;
}

.social_links{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    width: 100%;
}

.social_links ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.social_links ul li{
    list-style: none;
    padding: 1vh 5vh;
    padding: 4vh 1vh;
    font-size: 3vh;
    color: #ecddcd;
}
.main_link_div{
    display: flex;
    justify-content: space-evenly;
    width: 65%;
    padding-top: 8vh;
}

.footer_link1 h3, .footer_link2 h3, .footer_link3 h3{
    font-size: 3.5vh;
    color: #ecddcd;
}
.footer_link1 li, .footer_link2 li, .footer_link3 li{
    list-style: none;
    padding: 1vh 0;
color: #ecddcd;
}
.footer_link1 a, .footer_link2 a, .footer_link3 a{
    text-decoration: none;
    color: #000;
    font-size: 2.6vh;
color: #ecddcd;
}

/* footer div img{
    position: absolute;
    z-index: 1;
    mix-blend-mode: darken;
    opacity: 0.5;
} */
/* footer end   */











/* .animate-dot {
    opacity: 0;
    animation: animateDot1 2s linear infinite;
 }
 
 .animate-dot:nth-child(2) {
    animation: animateDot2 2s linear infinite;
 }
 
 .animate-dot:nth-child(3) {
    animation: animateDot3 2s linear infinite;
 }
 
 @keyframes animateDot1 {
    0%   {opacity: 0; }
    20%  {opacity: 0;}
    30%  {opacity: 1;}
    90% {opacity: 1;}
 }
 
 @keyframes animateDot2 {
    0%   {opacity: 0; }
    35%  {opacity: 0;}
    45%  {opacity: 1;}
    90% {opacity: 1;}
 }
 
 @keyframes animateDot3 {
    0%   {opacity: 0; }
    50%  {opacity: 0;}
    60%  {opacity: 1;}
    90% {opacity: 1;}
 } */
 
